body {
  display: flex;
  background-color: hsl(30, 38%, 92%);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 200px;
  padding: 10px;
}

img {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  padding-right: 0.8rem;
}

.box {
  display: -webkit-inline-flex;
  align-items: center;
  border-radius: 10px;
  /* width: 650px; */
  background-color: hsl(0, 0%, 100%);
}

.about-perfume {
  width: 250px;
  padding: 1rem 2.5rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}

.category {
  letter-spacing: 0.25rem;
}

.perfume-name {
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
  font-size: 32px;
  margin: 1px;
  padding: 1px;
}

.price {
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.price-before {
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  padding: 32px;
}

.between-price-btn {
  padding: 1rem;
}

.btn {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
  width: 13rem;
  height: 2.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(129, 89%, 11%);
}

@media only screen and (max-device-width: 480px) {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0;
  }

  .box {
    display: inline;
    align-items: center;
    margin: 1rem;
    padding: 1px;
  }

  .about-perfume {
    display: block;
  }

  .perfume-name {
    font-size: 28px;
  }

  .btn {
    width: 300px;
    height: 3rem;
  }
}
